<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/e"
        android:supportsRtl="true"
        android:theme="@style/Theme.Events"
        tools:targetApi="31" >
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyEditProfile"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".UserEditProfile"
            android:exported="false" />
        <activity
            android:name=".UserBookConfirm"
            android:exported="false" />
        <activity
            android:name=".UsercompnyDetails"
            android:exported="false" />
        <activity
            android:name=".AddPackages"
            android:exported="false" />
        <activity
            android:name=".CompanyDash"
            android:exported="false" />
        <activity
            android:name=".CompanyLoc"
            android:exported="false" />
        <activity
            android:name=".UserDash"
            android:exported="false" />
        <activity
            android:name=".CompanyRegistration"
            android:exported="false" />
        <activity
            android:name=".UserRegistration"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>